/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Rubik:300,400,400i,700,700i");
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Lists
   ========================================================================== */
/**
 * Reset list style.
 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.arrow-link {
  border: 0;
  padding-left: 30px;
}

a.arrow-link:before {
  content: "\279E";
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  line-height: .8;
  color: #f5604e;
  position: absolute;
  top: 0;
  left: 0;
}

a.arrow-link:hover {
  border: 0;
}

a,
p a,
li a {
  position: relative;
  color: #0e1a32;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #0e1a32;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

a:hover,
p a:hover,
li a:hover {
  color: #f5604e;
  border-bottom: 1px dotted #f5604e;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #0e1a32;
  line-height: 25px;
  display: inline-block;
  position: relative;
  padding-left: 30px;
}

h1:before {
  content: '/';
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5604e;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #f5604e;
  margin: 60px 0 30px 0;
}

h2:after {
  content: '';
  display: block;
  background-color: #f5604e;
  width: 60px;
  height: 4px;
}

h2.search__title {
  font-size: 1rem;
  margin: 20px 0 10px 0;
}

h2.search__title:after {
  display: none;
}

.single-clubs h2 {
  margin-top: 50px;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #0e1a32;
  margin: 0;
}

.club__all-infos h3,
.champ h3 {
  color: #f5604e;
  font-size: 1.3rem;
  margin-bottom: 15px;
  padding-bottom: 3px;
  border-bottom: 3px solid #f5604e;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .9rem;
  text-transform: uppercase;
  color: white;
  background-color: #0e1a32;
  margin: 0;
  padding: 5px;
  display: inline-block;
}

p {
  margin: 10px 0 0;
}

@media screen and (min-width: 768px) {
  h2 {
    margin: 100px 0 30px 0;
  }
}

[class^="button--"] {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 10px 25px;
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

[class^="button--"]:hover {
  border-style: solid;
}

.button--white {
  color: white;
  border-color: white;
  background-color: transparent;
}

.button--white:hover {
  color: white;
  background-color: #f5604e;
  border-color: #f5604e;
}

.button--blue {
  color: #0e1a32;
  border-color: #0e1a32;
}

.button--blue:hover {
  background-color: #0e1a32;
  color: white;
  border-color: #0e1a32;
}

.button--block__club {
  margin-top: 15px;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 20px 0;
  width: 250px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .button--block__club {
    max-width: 80%;
  }
}

.map__page {
  position: relative;
}

.map__wrapper {
  position: relative;
  height: 500px;
  margin-top: 20px;
  overflow: hidden;
}

.map__search p {
  color: #bebebe;
  font-style: italic;
  margin-bottom: 5px;
}

#search-club, .dataTables_filter input {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  padding: 10px;
  color: #bebebe;
  border: 1px solid #bebebe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

#map {
  height: 100%;
  width: 100%;
}

.pac-container {
  z-index: 9999;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: auto !important;
  padding: 5px;
}

.pac-container .pac-icon {
  display: none;
}

.pac-container .pac-item,
.pac-container .pac-item-query,
.pac-container .pac-matched {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.pac-container .pac-item {
  line-height: 2.5rem;
}

.pac-container .pac-item:first-of-type {
  border-top: 0;
}

.pac-container .pac-item-query,
.pac-container .pac-matched {
  color: #0e1a32;
}

.pac-logo::after {
  display: none;
}

#popupClub {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 15px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #0e1a32;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#popupClub.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.popupClub__club,
.popupClub__selected {
  display: block;
  text-transform: uppercase;
}

.popupClub__selected {
  font-size: 1.5rem;
  font-weight: 700;
}

[class^="popupClub__info"] {
  display: block;
  position: relative;
  padding-left: 25px;
  line-height: 1.3;
  margin-top: 15px;
}

[class^="popupClub__info"]:before {
  position: absolute;
  top: 0;
  left: 0;
}

[class^="popupClub__info"] a {
  color: white;
  border-bottom: 1px dotted white;
}

[class^="popupClub__info"] a:hover {
  color: #f5604e;
  border-bottom: 1px dotted #f5604e;
}

.popupClub__info--adress:before {
  font-family: 'tennisfc-icons';
  content: '\64';
}

.popupClub__info--tel:before {
  font-family: 'tennisfc-icons';
  content: '\65';
}

.popupClub__info--mail:before {
  font-family: 'tennisfc-icons';
  content: '\67';
}

.popupClub__info--website {
  margin-top: 0;
}

.popupClub__info--website:before {
  font-family: 'tennisfc-icons';
  content: '\66';
}

.popupClub__info--champ:before {
  font-family: 'tennisfc-icons';
  content: '\62';
}

.button__club {
  margin-top: 20px;
}

#close__popupClub {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  color: #f5604e;
  cursor: pointer;
}

.single-clubs .club__infos {
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  background: #0e1a32;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.single-clubs #map {
  height: 300px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1366px) {
  .map__search {
    z-index: 9999;
    position: absolute;
    width: 400px;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 15px;
  }
  .map__search .search__title {
    margin: 0 inherit inherit;
  }
  #popupClub {
    left: auto;
    top: 210px;
    right: 20px;
    width: 400px;
    height: auto;
    -webkit-transform: none;
            transform: none;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .map__wrapper {
    height: 700px;
  }
}

.post-type-archive main {
  margin-top: 20px;
}

.table__archives {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-spacing: 0;
  margin: 20px auto !important;
}

.table__archives a {
  display: block;
}

.table__archives th {
  text-align: left;
  padding: 15px 10px;
  background-color: #0e1a32;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .8rem;
  text-transform: uppercase;
}

.table__archives th:not(:first-of-type) {
  text-align: center;
}

.table__archives th:not(:last-of-type) {
  border-left: 1px solid black;
}

.table__archives th.club__nom, .table__archives th.club__ville, .table__archives th.tournoi__nom, .table__archives th.tournoi__ville {
  width: 50%;
}

.table__archives th.ens__nom, .table__archives th.ens__prenom {
  width: 45%;
}

.table__archives th.ens__prenom {
  text-align: left;
}

.table__archives th.ens__diplome {
  width: 10%;
}

.table__archives th.club__comite, .table__archives th.club__courts, .table__archives th.ens__clubs, .table__archives th.tournoi__club, .table__archives th.tournoi__date {
  width: 0%;
}

.table__archives tr {
  text-align: center;
  cursor: pointer;
}

.table__archives tr:hover {
  background-color: #f5604e;
  color: white;
}

.table__archives tr td {
  padding: 15px 10px !important;
  border-bottom: 1px solid gainsboro;
  font-weight: 300;
}

.table__archives tr td.club__nom-row, .table__archives tr td.ens__nom-row, .table__archives tr td.ens__prenom-row, .table__archives tr td.ens__prenom, .table__archives tr td.tournoi__nom, .table__archives tr td.tournoi__nom-row {
  text-align: left;
  font-weight: 400;
}

.table__archives tr td.club__comite-row, .table__archives tr td.club__courts-row, .table__archives tr td.ens__clubs-row, .table__archives tr td.tournoi__club-row, .table__archives tr td.tournoi__date-row {
  width: 0%;
}

.table__archives tr td.ens__clubs-row span {
  display: block;
}

.table__archives .sorting {
  background-image: url("../img/sort_both.png") !important;
}

.table__archives .sorting_asc {
  background-image: url("../img/sort_asc.png") !important;
}

.table__archives .sorting_desc {
  background-image: url("../img/sort_desc.png") !important;
}

.dataTables_length {
  display: none !important;
}

.dataTables_filter {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.dataTables_filter input {
  margin-left: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dataTables_info {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .8rem;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button {
  background: white;
  border-radius: 0;
  border: 0 !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
  background: #f5604e;
  border-radius: 0;
  border: 0 !important;
  color: white !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
  background: #0e1a32;
  color: white !important;
}

@media screen and (min-width: 768px) {
  .table__archives {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-spacing: 0;
  }
  .table__archives th.club__nom, .table__archives th.club__ville, .table__archives th.ens__nom, .table__archives th.ens__prenom, .table__archives th.tournoi__ville, .table__archives th.tournoi__nom {
    width: 35%;
  }
  .table__archives th.club__comite, .table__archives th.ens__clubs, .table__archives th.tournoi__club {
    width: 20%;
  }
  .table__archives th.club__courts, .table__archives th.ens__diplome, .table__archives th.tournoi__date {
    width: 10%;
  }
  .table__archives tr td.club__comite-row {
    width: 20%;
  }
  .table__archives tr td.club__courts-row, .table__archives tr td.trounoi__date-row {
    width: 10%;
  }
}

/* ! CSS TENNIS FRANCHE-COMTE 
 * ================================================================== */
.container {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
}

.nav {
  max-width: 100%;
  background-color: #0e1a32;
  height: 80px;
  position: relative;
}

.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  display: block;
  width: 70%;
  background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%2050%20835%20380%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20fill%3A%20%23fff%3B%20%7D%20.cls-2%20%7B%20fill%3A%20%23d26234%3B%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22Calque_5%22%20data-name%3D%22Calque%205%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%200h316.61v479.41H0z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M13.43%2013.42h135.31v25h19.27V13.5h135.17v452.55H168.01v-25.09h-19.26v25.11H13.43q.01-226.37%200-452.65zm39.81%2063.17V94h18.3v97.82h19.18V94h18.3V76.59zm68.36%200v115.25h52V174.4c-10.94%200-21.88.07-32.81-.06.08-11.2%200-22.41.06-33.61h30.14c0-5.73.08-11.45%200-17.17l-.25-.2c-10-.11-19.92%200-29.88%200%200-9.78-.06-19.55%200-29.33h32.73V76.61zm67.33%200v115.26h16.2v-79.52a604.15%20604.15%200%200%201%2031.74%2079.53h13.57V76.62h-16.2v59.72a519.57%20519.57%200%200%200-28.9-59.72zM37.14%20232.98v13.4h242.37v-13.4zm163.1%2059.85a26.51%2026.51%200%200%200-9.88%2017%2033.79%2033.79%200%200%200%207.09%2025.71c6.52%208.18%2015.28%2014.1%2023.11%2020.93%204.23%203.68%208.83%207.33%2011.32%2012.5a13.58%2013.58%200%200%201-1.37%2014.2c-2.89%203.61-7.48%205.46-12%206-10.65%201-21.45-3-29.49-9.91.08%205.43-.2%2010.88.14%2016.3%201.36%203%205.09%204%207.89%205.34%2011.15%204.28%2023.93%205%2035.21.76a29.35%2029.35%200%200%200%2017.69-17.77%2033.09%2033.09%200%200%200-4.71-29.1c-5.54-7.89-13.58-13.4-20.88-19.51-5-4.08-10.29-8.08-13.64-13.69-2.51-4.22-2.94-9.92-.13-14.1s7.85-6.26%2012.72-6.45a41%2041%200%200%201%2022.52%206.7c0-4.67.1-9.35-.06-14%20.09-2-1.77-3-3.31-3.77-6.13-3-13-4-19.8-4.07-7.92-.18-16.1%201.96-22.42%206.93zm-134.5-5.25v115.07h16.37v-79.28a599.85%20599.85%200%200%201%2031.63%2079.27h13.69v-115c-5.47-.15-10.94%200-16.41-.08-.08%2019.84.1%2039.68-.09%2059.52a489.8%20489.8%200%200%200-28.68-59.51c-5.46.01-11.01.03-16.49.01zm83%200q-.05%2057.54%200%20115.07h19.16V287.58q-9.56.03-19.13%200z%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22Calque_3%22%20data-name%3D%22Calque%203%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M539.5%20211.28h17.13q10.64%2024.16%2021.43%2048.26a66.64%2066.64%200%200%201%203.65%208.78h-15.16c-1.54-4-3.47-7.93-4.9-12-8-.11-15.93%200-23.89-.06a30%2030%200%200%200-4%20.19c-1.62%204-3.22%208-5%2011.91-4.88-.08-9.76%200-14.64%200%20.71-2.71%202.14-5.14%203.25-7.69q11.08-24.69%2022.13-49.39zm8.23%2012.11c-3.22%207.37-6.45%2014.74-9.31%2022.25%206.19-.06%2012.38%200%2018.57%200-1.06-3.39-2.8-6.51-4-9.87-1.84-4.09-3.33-8.32-5.26-12.37zM799.98%20222.39l.06%2011.51%2022.98.04.03%2011.29-22.8-.06v12l30.71-.13.16%2011.43-44.82-.01-.02-57.15%2044.65.04-.03%2011.14-30.92-.1zM670.93%20212.91c11.13-3.42%2023.47-1.24%2033.51%204.38.08%204.17%200%208.35.06%2012.52-3.86.06-7.73%200-11.59.05-.06-1.77-.08-3.54%200-5.3a24.85%2024.85%200%200%200-14.9-1.66%2015.92%2015.92%200%200%200-10.24%207.34%2018.51%2018.51%200%200%200-2.14%2013%2016.52%2016.52%200%200%200%2011.76%2013.21%2020.79%2020.79%200%200%200%2016.65-2.15c1.88-1%203.26-2.76%205-4%202.16%202%204.17%204.21%206.33%206.25a9.28%209.28%200%200%201%201.78%202.31%2033.29%2033.29%200%200%201-19.4%209.33c-8.41.87-17.34-.51-24.45-5.29a26.5%2026.5%200%200%201-11.64-18c-.79-5.38-.57-11.1%201.71-16.11%202.99-7.69%209.82-13.43%2017.56-15.88zM454.42%20211.28h27.32c6%20.13%2012.26%201.9%2016.67%206.13%206%205.62%207.16%2015.73%202.35%2022.45-2.46%203.61-6.25%206-10.17%207.73%206.38%206.87%2012.67%2013.82%2019%2020.74h-17.35c-5.43-5.91-10.68-12-16.17-17.86-2.57.06-5.14%200-7.7%200-.21%206%200%2011.92-.13%2017.87-4.61-.06-9.21%200-13.81%200q-.03-28.53-.01-57.06zm13.83%2011c.11%205.74%200%2011.47%200%2017.21h8.9c4.32.38%209.31-1.16%2011.27-5.35%201.59-3.37.64-7.92-2.54-10-2.66-1.86-6-2-9.16-1.94-2.79.01-5.64-.17-8.48.03zM481.8%20289.39c8.48-1.32%2017.66.19%2024.71%205.27a27%2027%200%200%201%2010.9%2017.58%2030.05%2030.05%200%200%201-4.42%2021.47%2028.29%2028.29%200%200%201-17.75%2011.65c-8.71%201.8-18.31.63-25.78-4.4a27.44%2027.44%200%200%201-11.86-19.83%2028.25%2028.25%200%200%201%205.63-21.22%2029.3%2029.3%200%200%201%2018.57-10.52zm1.6%2011.22a15%2015%200%200%200-8.64%205.69%2018.93%2018.93%200%200%200-3.25%2012.82%2018.69%2018.69%200%200%200%203.38%2010%2014.52%2014.52%200%200%200%209.54%205.59%2017.16%2017.16%200%200%200%2013.32-3%2016.33%2016.33%200%200%200%205.66-10.69%2024%2024%200%200%200-.39-9.07%2015.59%2015.59%200%200%200-6.25-9.11%2017.21%2017.21%200%200%200-13.37-2.22zM399.93%20211.28h46.26v10.52l-32.53.19.18%2017.95h23.31l-.09%2010.5-23.25.05s.05%2011.34-.18%2017c-.29%201.15-1.7.72-2.56.86-3.48-.09-7%20.13-10.44-.1-1-.26-.64-1.54-.76-2.28l.06-54.69zM586.24%20211.29h10.8a3.13%203.13%200%200%201%202.59%201.12c9.23%2011.21%2018.4%2022.48%2027.65%2033.68v-34.78h13.36c0%2019%20.06%2038.08%200%2057.11h-10a3.81%203.81%200%200%201-3.15-1.28q-13.93-17.1-27.82-34.24v35.53h-13.43v-57.14zM715.98%20211.29h14c.05%207.74%200%2015.48%200%2023.22h28.37V211.3h13.89v57.11h-13.87v-22.19h-28.38v22.18c-4.68%200-9.35.09-14-.06.02-19.03-.04-38.04-.01-57.05zM414.79%20290.67c11.13-3.42%2023.47-1.24%2033.51%204.38.08%204.17%200%208.35.06%2012.52-3.86.06-7.73%200-11.59.05-.06-1.77-.08-3.54%200-5.3a24.85%2024.85%200%200%200-14.9-1.66%2015.92%2015.92%200%200%200-10.24%207.34%2018.51%2018.51%200%200%200-2.14%2013%2016.52%2016.52%200%200%200%2011.75%2013.19%2020.79%2020.79%200%200%200%2016.65-2.15c1.88-1%203.26-2.76%205-4%202.16%202%204.17%204.21%206.33%206.25a9.28%209.28%200%200%201%201.78%202.31%2033.29%2033.29%200%200%201-19.4%209.33c-8.41.87-17.34-.51-24.45-5.29a26.5%2026.5%200%200%201-11.64-18c-.79-5.38-.57-11.1%201.71-16.11%203.02-7.67%209.83-13.41%2017.57-15.86zM528.46%20289.05c3.64%200%207.29-.07%2010.93%200%201%200%201.55.86%202.12%201.51q7.35%209.2%2014.73%2018.38a43.75%2043.75%200%200%200%203.23%203.82c6-7.94%2012.13-15.76%2018.12-23.7%204.18-.09%208.36-.07%2012.54%200-.05%2019%200%2038%200%2057.05h-13.36v-35.67c-2.63%202.84-4.85%206.06-7.3%209.05l-10.23%2012.96c-5.9-7.27-11.61-14.71-17.59-21.91v35.54c-4.39.17-8.79%200-13.18.07-.04-19.04-.01-38.07-.01-57.1zM597.77%20288.98h51.49v11.19h-18.9c0%2015.33.08%2030.67-.05%2046h-14v-46h-18.57q.02-5.62.03-11.19zM675.18%20283.98c4.86-1.12%209.72-2.28%2014.58-3.41v8.37h14.39v11.19H673.6v11.38h22.78v11.28h-22.79v11.89h30.86v11.43a43.29%2043.29%200%200%200-5.39-.13h-39.37V288.9h15.43c.01-1.63%200-3.28.06-4.92zM490.82%20135.64a40.19%2040.19%200%200%201%2019.3-2%2051.14%2051.14%200%200%201%2016.63%205v13.54h-11.84v-5.84a28.88%2028.88%200%200%200-14.26-1.41%2016.44%2016.44%200%200%200-11.57%208%2019.49%2019.49%200%200%200-1.4%2015.15%2016.53%2016.53%200%200%200%209.83%2010.47c5.63%202.22%2012%201.83%2017.69.06v-7h-9.33v-10h22.5v25.18a58.33%2058.33%200%200%201-24.13%204.39%2036.32%2036.32%200%200%201-19.53-5.88%2027.42%2027.42%200%200%201-11.34-16.24%2029%2029%200%200%201%202.24-20.23%2028.58%2028.58%200%200%201%2015.21-13.19zM400%20134.28h13.57v44.92h26.67v10.94h-40.25q0-27.92.01-55.86zM611.24%20134.29h43.6v10.94h-30v11.25h22.41v10.94h-22.4v11.72c10.11.09%2020.23%200%2030.34%200v10.95h-43.95v-55.8zM449.17%20134.29h13.69v55.87h-13.71c.09-18.64.01-37.25.02-55.87zM541.96%20134.29h13.67v33.47a12.11%2012.11%200%200%200%203.3%208.58c2.54%202.57%206.26%203.52%209.78%203.56%203.36%200%206.9-.81%209.5-3.07a11.55%2011.55%200%200%200%203.77-8.64V134.3h13.79v28.19c0%203.8.27%207.67-.76%2011.38a21.16%2021.16%200%200%201-9.08%2012.75c-6.22%204-13.94%205.11-21.21%204.38-6.13-.66-12.31-3-16.64-7.48a21.25%2021.25%200%200%201-5.85-12.1%2057.79%2057.79%200%200%201-.31-8.55q.04-14.3.04-28.58z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #0e1a32;
  min-height: 80px;
  border: 0;
}

.navbar__logo:hover {
  border: 0;
}

.navbar__menu {
  display: block;
  padding: 0 20px;
  background: #070e1a;
  height: 80px;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: .8rem;
  line-height: 25px;
  margin-right: -5.5%;
  overflow-x: hidden;
}

.navbar__menu.menu--active {
  background-color: #f5604e;
}

.navbar__menu .menu__icon {
  width: 15px;
  height: 15px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5px;
  margin-right: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar__menu .menu__icon .line {
  width: 100%;
  height: 2px;
  display: block;
  background-color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar__menu .menu__icon .line:not(:last-of-type) {
  margin-bottom: 2px;
}

.navbar__menu .menu__icon .line .menu__text {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar__menu .menu__icon.icon--active .line:nth-child(1) {
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
  width: 100%;
  margin-bottom: 0;
}

.navbar__menu .menu__icon.icon--active .line:nth-child(2) {
  opacity: 0;
}

.navbar__menu .menu__icon.icon--active .line:nth-child(3) {
  -webkit-transform: translateY(-3px) rotate(-45deg);
          transform: translateY(-3px) rotate(-45deg);
  width: 100%;
  margin-bottom: 0;
}

.nav__menu {
  display: none;
  width: 100%;
  background-color: #f5604e;
  padding: 20px 0;
  z-index: 9999;
  position: absolute;
  top: 80px;
  left: 0;
}

.nav__menu .container {
  padding-left: 5%;
  padding-right: 5%;
}

.nav__menu a,
.nav__menu a:hover {
  color: white;
  border: 0;
  text-transform: uppercase;
}

.menu {
  width: 100%;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 10px;
}

.menu:last-of-type {
  margin-bottom: 0;
}

.menu .sub-menu ul {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.menu .sub-menu li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #de544e;
  font-size: 1rem;
}

.menu li.menu__subtitle {
  background-color: #f5604e;
  margin: 10px 0 30px;
  display: none;
}

.menu li.menu__subtitle.no-href > a {
  cursor: default;
}

.menu li.menu__subtitle > a {
  font-weight: 700;
  font-style: italic;
  position: relative;
  border-bottom: 0;
}

.menu li.menu__subtitle > a:after {
  content: '';
  display: block;
  background-color: white;
  width: 40px;
  height: 3px;
}

.sub__cat {
  width: 100%;
  padding: 15px 0;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sub__cat:first-of-type {
  margin-top: 0;
}

.sub__cat.standalone > a:after {
  content: '';
}

.sub__cat.no-href > a {
  cursor: default;
}

.sub__cat > a {
  background-color: #de544e;
  display: block;
  position: relative;
  padding: 15px;
}

.sub__cat > a:after {
  font-family: 'tennisfc-icons';
  content: '\63';
  position: absolute;
  right: 0;
  top: 0px;
  padding: 15px;
  line-height: 15px;
  font-size: 1.3rem;
  text-transform: none;
}

.sub__cat > a.cat--opened:after {
  content: '\68';
}

.sub__links {
  width: 100%;
  display: none;
}

.sub__links li {
  padding: 10px;
  border-bottom: 1px solid #de544e;
}

.sub__links li a {
  color: white;
  text-decoration: none;
  border-bottom: 0;
}

.header__home {
  width: 100%;
  background-size: cover;
  position: relative;
  padding: 120px 0 120px 0;
}

.header__home:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.header__hero {
  width: 100%;
  position: relative;
}

.hero__logo-tennisfc {
  width: 235px;
  max-width: 100%;
  margin: 0 auto;
}

.hero__news {
  display: block;
  padding: 10px;
  margin: 30px 0 15px 0;
  text-align: center;
  background-color: white;
}

.hero__news h2 {
  margin: 0;
  padding: 20px 0 10px 0;
  background-color: white;
}

.hero__news h2:after {
  margin: 5px auto 0 auto;
}

.hero__news p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5604e;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
  background-color: white;
}

.hero__button {
  display: block;
  background-color: #f5604e;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: 0;
}

.hero__button:hover {
  border: 0;
  color: white;
}

.hero__button.actus {
  margin-top: 30px;
  padding: 10px;
}

.header__blocks {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.header__blocks [class^="block__"] {
  background-color: #0e1a32;
  text-align: center;
  padding: 20px 0;
}

.header__blocks [class^="block__"] *:not(button) {
  display: block;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.header__blocks [class^="block__"] .number {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
}

.header__blocks [class^="block__"] .type {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.header__pre-blocks {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: #f5604e;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.header__pre-blocks:before {
  display: none;
}

.page-title {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 5px solid #f5604e;
}

.page-title i {
  color: #f5604e;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 17px;
}

main,
.main__content .main__sidebar {
  width: 100%;
}

.home__news,
.home__results,
.home__quick-links {
  margin-top: 50px;
}

.home__news article:not(:last-of-type) {
  margin-bottom: 60px;
}

.article__date {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .9rem;
  text-transform: uppercase;
  display: inline-block;
  background-color: #f5604e;
  color: white;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.article__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0e1a32;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
}

.article__content p,
.article__content ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0e1a32;
  font-size: 1rem;
  line-height: 1.5;
}

.article__content p {
  margin: 8px 0;
}

.article__content ul {
  margin: 5px 0;
}

.article__content ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.article__button {
  margin-top: 10px;
}

.home__results .result:not(:last-of-type) {
  margin-bottom: 40px;
}

.result__type {
  margin-bottom: 10px;
}

.all-results__button {
  margin-top: 20px;
}

.result__table {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
}

.result__table:last-of-type {
  margin-top: 5px;
}

.result__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.result__line:last-of-type {
  margin-top: 3px;
}

.result__player {
  width: 55%;
  background-color: #e6e6e6;
  color: #0e1a32;
  padding: 15px 8px;
  font-weight: 700;
  font-size: .8rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.result__player.winner {
  color: white;
  background-color: #f5604e;
}

.result--set {
  width: 15%;
  margin-left: 3px;
  background-color: #f0f0f0;
  text-align: center;
  padding: 15px 0;
  color: #0e1a32;
}

.result--set.win-set {
  color: white;
  background-color: #0e1a32;
  font-weight: 700;
}

.champ__type {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: #0e1a32;
  font-size: 1rem;
  line-height: 1.8;
}

.quick-links {
  margin-top: -15px;
}

.quick-links li {
  position: relative;
  display: block;
  padding: 15px 0 15px;
  border-bottom: 1px solid #f0f0f0;
}

.quick-links li:before {
  padding: 0;
}

.quick-links li:last-of-type {
  border: 0;
}

.club__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.club__all-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.club__all-infos > div:not(:last-of-type) {
  margin-bottom: 50px;
}

.general__infos li {
  line-height: 1.3;
}

.courts:first-of-type {
  margin-bottom: 20px;
}

.courts__count {
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  line-height: 30px;
  font-weight: 700;
}

.courts__count:before {
  position: absolute;
  left: 0;
  content: attr(data-courts);
  display: inline-block;
  background-color: #0e1a32;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: .9rem;
  color: white;
  line-height: 30px;
  text-align: center;
  height: 30px;
  width: 30px;
}

.courts__detail li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  line-height: 30px;
}

.courts__detail li:before {
  position: absolute;
  left: 0;
  content: attr(data-courts);
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: .9rem;
  color: #f5604e;
  line-height: 30px;
  text-align: center;
  height: 30px;
  width: 30px;
}

.club__encadrants span {
  display: block;
  line-height: 1.5;
}

.champ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.champ > div {
  margin-bottom: 50px;
}

.champ__infos span, .champ__details span {
  display: block;
  line-height: 1.5;
  font-size: 1.1rem;
}

.champ__infos h4:not(:first-of-type), .champ__details h4:not(:first-of-type) {
  margin-top: 20px;
}

.single-tournois h2 {
  margin-top: 50px;
}

.champ {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.champ .champ__results {
  width: 100%;
}

.champ .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.champ .result {
  width: 100%;
  margin-top: 15px;
}

footer {
  width: 100%;
  background-color: #0e1a32;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
}

footer p {
  font-size: .9rem;
  line-height: 18px;
}

footer p a:link,
footer p a:visited,
footer p a:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer .footer__nav-menu {
  display: none;
}

a.footer__top-link {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: .9rem;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  border: 0;
  padding: 5px 0;
}

a.footer__top-link:hover {
  border: 0;
}

.footer__logos {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logos li.logo-s {
  width: 40px;
}

.footer__logos li.logo-l {
  width: 80px;
}

.footer__logos li img {
  opacity: .5;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.footer__logos li img:hover {
  opacity: 1;
}

/*  ################
    480px+
    ################ */
@media screen and (min-width: 480px) {
  .menu .sub__cat > .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu .sub__cat > .sub-menu > .menu__subtitle {
    width: 45%;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer__more {
    width: 45%;
  }
  footer .footer__logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 55%;
  }
  footer .footer__logos li {
    padding-left: 40fpx;
  }
  footer .footer__logos li.logo-fft {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer__logos li.logo-rg {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .footer__logos li.logo-cdc {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer__logos li.logo-nrg {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

/*  ################
    768px+
    ################ */
@media screen and (min-width: 768px) {
  .navbar__menu {
    font-size: 1rem;
    margin-right: 0;
  }
  .header-home {
    padding: 50px 0 50px 0;
  }
  .hero__logo-tennisfc {
    margin: 0;
  }
  .hero__news {
    display: inline-block;
    text-align: justify;
    background-color: transparent;
    padding: 0;
  }
  .hero__news h2 {
    display: inline-block;
    background-color: white;
    padding: 15px;
  }
  .hero__news h2:after {
    margin: 5px 0 0;
  }
  .hero__news p {
    max-width: 60%;
    padding: 15px;
    line-height: 1.3;
  }
  .hero__button {
    display: inline-block;
  }
  .header__blocks-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__blocks-wrap [class^="block__"] {
    width: 32%;
    border-bottom: 8px solid #f5604e;
  }
  .header__blocks-wrap [class^="block__"] a,
  .header__blocks-wrap [class^="block__"] a:hover {
    border: 0;
  }
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .article__date {
    display: inline-block;
    text-align: center;
    line-height: 1.3;
    margin-right: 30px;
    padding: 10px;
    border-bottom: 8px solid #de544e;
  }
  .home__results .result:not(:last-of-type) {
    margin-bottom: 0;
  }
  .home__results-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home__results-wrap .result {
    width: 46%;
    margin-bottom: 0;
  }
  .club__header {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .club__header .club__infos {
    width: 30%;
    height: 100%;
  }
  .club__header #map {
    width: 68%;
    height: 100%;
  }
  .club__all-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .club__all-infos > div {
    width: 45%;
  }
  .champ__infos, .champ__details {
    width: 45%;
  }
  .champ {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .champ .champ__results {
    width: 100%;
  }
  .champ .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .champ .result {
    width: 22%;
    margin-right: 3%;
    margin-top: 0;
  }
  footer .footer__logos {
    display: none;
  }
  footer .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer__nav-menu {
    display: block;
    width: 100%;
  }
  footer .footer__nav-menu .sub__cat {
    width: 22%;
    padding: 0;
  }
  footer .footer__nav-menu .sub__cat > a {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: .9rem;
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    border: 0;
    padding: 5px 0;
    background-color: transparent;
  }
  footer .footer__nav-menu .sub__cat .sub-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__nav-menu .sub__cat .sub-menu li {
    background-color: transparent;
  }
  footer .footer__nav-menu .sub__cat .sub-menu li a {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0;
    line-height: 1.5;
    font-size: .8rem;
    padding: 0;
    display: inline-block;
    width: auto;
  }
  footer .footer__nav-menu .sub__cat .sub-menu .menu__subtitle {
    width: 100%;
  }
  footer .footer__nav-menu .sub__cat .sub-menu .menu__subtitle > a {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: .8rem;
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    border: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  footer .footer__nav-menu .sub__cat .sub-menu .menu__subtitle > a:after {
    background-color: rgba(255, 255, 255, 0.5);
    width: 20px;
  }
  footer .elements__right .sub__cat {
    padding-bottom: 10px;
  }
  footer .footer__more {
    width: 30%;
  }
}

/*  ################
    1366px+
    ################ */
@media screen and (min-width: 1366px) {
  body.error404 main {
    margin-bottom: 250px;
  }
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu .sub-menu li.menu__subtitle {
    display: block;
  }
  .menu .sub__cat {
    display: block;
    width: 39%;
  }
  .menu .sub__cat a:after {
    display: none;
  }
  .menu .elements__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 20%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .menu .elements__right .sub__cat {
    width: 100%;
  }
  .main__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    flew-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__wrapper main {
    width: 60%;
  }
  .main__wrapper aside {
    width: 20%;
  }
  .home__results-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__results-wrap .result {
    width: 100%;
  }
  .home__results-wrap .result:not(:first-of-type) {
    margin-top: 35px;
  }
  .club__all-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .club__all-infos > div {
    width: 30%;
  }
}
